# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
**/.env

# Noir
**/target
**/Prover.toml


lib/

# Build artifacts
out/
cache/
broadcast/

# Lock files
foundry.lock

**/node_modules